.tracking {
  margin-left: 15px;
}

.tracking__header {
  color: var(--dark-brown);
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 5px;
}

.tracking__container hr {
  margin-top: 1.3rem;
  background-color: var(--light-brown);
}

.tracking__content {
  margin-top: 10px;
  height: 29rem;
  width: fit-content;
  overflow: auto;
  padding-right: 10px;
}

.MuiStep-root:nth-child(5n + 6) .MuiStepConnector-root {
  display: none !important;
}

.loading__spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 5s ease-in-out;
}
