.search__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__items-action:first-child {
  margin-right: 5px;
}

.search__item-ref {
  font-size: 14px;
  color: var(--brown-text);
  font-weight: 600;
}

.search {
  width: 400px;
  position: relative;
}

.search__results {
  position: absolute;
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  max-height: 200px;
  background-color: #fff;
  border-radius: 5px;
}

.search__item {
  padding: 8px;
  display: flex;
}

.item__title {
  padding-left: 15px;
}
