.search__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__items-action:first-child {
  margin-right: 5px;
}

.search__item-ref {
  font-size: 14px;
  color: var(--brown-text);
  font-weight: 600;
}

.search {
  width: 400px;
  position: relative;
}

.search__results {
  position: absolute;
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  max-height: 60vh;
  background-color: #fff;
  border-radius: 5px;
}

.search__item {
  padding: 10px;
  display: flex;
}

.item__description {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.item__title {
  font-weight: 600;
  color: var(--dark-brown);
}

.item__ref {
  font-size: 13px;
  color: var(--dark-brown);
}

.item__not-found {
  padding: 8px;
  color: var(--dark-brown);
  font-weight: 600;
  cursor: default;
}

.item__description {
  cursor: default;
}

.search__item-show {
  display: block;
}

.search__item-hide {
  display: none;
}

.search__item-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
